html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    background: $colorPrincipal;
    line-height: 2;
    font-family: $parrafos;
}

img {
    max-width: 100%;
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}