html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    background: $black;
    font-family: $white;
    //line-height: 1.8;
}

img {
    max-width: 100%;
}

.container {
    width: 75%;
    max-width: 120rem;
    margin: 0 auto;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

section{
    min-height: 100vh;
}