.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: $xs $md;
    .logo {
        font-size: $xs;
        color: $colorLetras;
        margin: 1rem;
    }
    .menu>ul {
        display: flex;
        &>li {
            list-style: none;
            justify-content: space-around;
            padding: 0 $xs;
            &>a {
                text-decoration: none;
                font-size: 1.30;
                color: $colorLetras;
                font-weight: 1rem;
                transition: all .5s ease-in-out;
                font-family: $titulos;
                &:hover {
                    color: $colorParrafos;
                }
            }
        }
    }
}