.inicio {
    max-height: 75vh;
    padding-top: 15rem;
    display: block;
    position: relative;
    z-index: -1;
    @include tablet {
        & {
            padding-top: 11rem;
        }
    }
}

.inicio-info {
    display: flex;
    flex-direction: column;
    .inicio-pre {
        font-size: $xs;
        color: $pink;
        font-weight: $medium;
        font-family: $titulos;
    }
    .inicio-name {
        font-size: $lg;
        font-weight: $bold;
        font-family: $parrafos;
        color: $white;
        opacity: .9;
        padding-top: $xs;
    }
    .inicio-pre2 {
        font-size: 4.8rem;
        font-weight: $bold;
        font-family: $parrafos;
        color: $white-gray;
        opacity: .8;
        padding: $xs 0;
    }
    .p-2 {
        width: 70%;
        .inicio-pre3 {
            font-size: 1.65rem;
            font-weight: $md;
            color: $white-gray;
            font-family: $parrafos;
            line-height: 1.75;
        }
    }
    @include tablet {
        .inicio-name {
            font-size: 4.8rem;
        }
        .inicio-pre2 {
            font-size: 3.2rem;
            padding-top: 1.5rem;
        }
        .p-2 {
            width: 100%;
        }
    }
    @include phone {
        .inicio-p1re {
            font-size: 1.8rem;
        }
        .inicio-name {
            font-size: 3.5rem;
        }
        .inicio-pre2 {
            font-size: 2.5rem;
        }
        .p-2 {
            .inicio-pre3 {
                font-size: 1.7rem;
                line-height: 1.4;
            }
        }
    }
}