@charset "UTF-8";
/*---ABSTRACTS---*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&display=swap");
/*----COLORS----*/
/*----TIPOGRAFIAS---*/
/*---TAMAÑOS LETRAS---*/
/*---INTENSIDAD LETRA---*/
/*---COMPONENTS---*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background: #111111;
  font-family: #e9fffe;
}

img {
  max-width: 100%;
}

.container {
  width: 75%;
  max-width: 120rem;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem;
}
.header .logo {
  font-size: 2rem;
  color: #ff13eb;
  margin: 1rem;
  font-family: "Fira Sans", sans-serif;
}
.header .menu > ul {
  display: flex;
}
.header .menu > ul > li {
  list-style: none;
  justify-content: space-around;
  padding: 0 2rem;
}
.header .menu > ul > li > a {
  text-decoration: none;
  font-size: 1.3;
  color: #ff13eb;
  font-weight: 1rem;
  transition: all 0.5s ease-in-out;
  font-family: "Fira Sans", sans-serif;
}
.header .menu > ul > li > a:hover {
  color: #e9fffe;
}

.inicio {
  min-width: 100vh;
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.inicio-info {
  display: flex;
  flex-direction: column;
}
.inicio-info .inicio-pre {
  font-size: 2rem;
  color: #ff13eb;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}
.inicio-info .inicio-name {
  font-size: 6rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #e9fffe;
  opacity: 0.9;
  padding-top: 2rem;
}
.inicio-info .inicio-pre2 {
  font-size: 6rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #a5a6aa;
  opacity: 0.8;
  padding: 2rem 0;
}
.inicio-info .p-2 {
  width: 60%;
}
.inicio-info .p-2 .inicio-pre3 {
  font-size: 1.65rem;
  font-weight: 2.5rem;
  color: #a5a6aa;
  font-family: "Inter", sans-serif;
  line-height: 1.75;
}

.about {
  padding: 7rem 0;
  min-height: 100vh;
}

.about_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about_div .about_info {
  padding-left: 8rem;
}
.about_div .about_info .about_text {
  color: #ff13eb;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.about_div .about_info .about_text:after {
  content: "";
  display: block;
  position: relative;
  bottom: -5px;
  width: calc(50% - 2rem);
  height: 1px;
  background-color: #e9fffe;
  opacity: 0.2;
}
.about_div .about_info .about_pre {
  color: #a5a6aa;
  font-family: "Inter", sans-serif;
  line-height: 1.75;
  font-weight: 2.5rem;
  padding-top: 2.5rem;
}

.list_skills {
  list-style: none;
  color: #a5a6aa;
  font-family: "Inter", sans-serif;
  font-weight: 2.5rem;
  font-size: 1.5rem;
  line-height: 1.75;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0 2.5rem;
  margin: 1.5rem 0 0 0;
  padding: 0;
}
.list_skills > li::before {
  content: "■";
  position: relative;
  color: #ff13eb;
  padding-right: 1rem;
  top: -2px;
  position: relative;
}

.works {
  padding: 7rem 0;
  min-height: 100vh;
  margin: 0 16rem;
}
.works .work_text {
  color: #ff13eb;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.works .work_text::after {
  content: "";
  display: block;
  position: relative;
  bottom: -5px;
  width: calc(25% + 5rem);
  height: 1px;
  opacity: 0.2;
  background-color: #e9fffe;
}

.letter-holder {
  padding: 16px;
  display: flex;
  justify-content: center;
  margin: 16rem 0;
}
.letter-holder .letter {
  padding: 0 2rem;
  font-size: 6rem;
  color: #a5a6aa;
  font-family: "Inter", sans-serif;
}

.load-6 .letter {
  animation-name: loadingF;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
.load-6 .letter .l-1 {
  animation-delay: 0.48s;
}
.load-6 .letter .l-2 {
  animation-delay: 0.6s;
}
.load-6 .letter .l-3 {
  animation-delay: 0.72s;
}
.load-6 .letter .l-4 {
  animation-delay: 0.84s;
}
.load-6 .letter .l-5 {
  animation-delay: 0.96s;
}
.load-6 .letter .l-6 {
  animation-delay: 1.08s;
}
.load-6 .letter .l-7 {
  animation-delay: 1.2s;
}
.load-6 .letter .l-8 {
  animation-delay: 1.32s;
}
.load-6 .letter .l-9 {
  animation-delay: 1.44s;
}
.load-6 .letter .l-10 {
  animation-delay: 1.56s;
}

@keyframes loadingF {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0;
  min-height: 100vh;
  margin: 0 16rem;
}
.contact .contact_text {
  color: #ff13eb;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.contact .contact_text2 {
  color: #a5a6aa;
  font-family: "Inter", sans-serif;
  line-height: 1.75;
  font-weight: 2.5rem;
  padding-top: 2.5rem;
  padding: 6rem 0;
  text-align: center;
}

.contact_btn {
  color: #ff13eb;
  font-size: 2rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid #ff13eb;
  padding: 1.5rem;
  border-radius: 5px;
}

/*# sourceMappingURL=styles.css.map */
